* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

.zaki {
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}

.walid {
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.loim {
    width: 150px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.rca {
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.5%;
    border-radius: 6px;
    z-index: -1;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a {
    color: #0d74f5;
    transition: 0.3s;
} 

.nav-links li:hover ~ .rca {
    display: block;
}

.nav-links li:nth-child(1):hover ~ .rca {
    top: 2.5%;
}

.nav-links li:nth-child(2):hover ~ .rca {
    top: 19.2%;
}

.nav-links li:nth-child(3):hover ~ .rca {
    top: 35.8%;
}

.nav-links li:nth-child(4):hover ~ .rca {
    top: 52.4%;
}

.nav-links li:nth-child(5):hover ~ .rca {
    top: 69%;
}

.nav-links li:nth-child(6):hover ~ .rca {
    top: 85.6%;
}

.logo-icon {
    display: none;
    width: 45px;
}

@media only screen and (max-width : 600px) {
    .walid {
        width: 110px;
    }
    .logo-icon {
        display: block;
    }
    .loim {
        display: none;
    }
    .nav-links li a p {
        display: none;
    }
    .nav-links li a i {
        margin-right: 0;
    }
    .nav-links li a {
        justify-content: center;
    }
}